html, body {
    height: 100%;
    background-color: #111;
}

.fill {
    height: 100%;
    padding-right: 0px !important;
    padding-left: 0px !important;
}

#mapWrapper {
	position: relative;
    height: 100%;
    width:100%;
    overflow: hidden !important;
    border-radius: 19px !important;
    /*border: 2px solid gold;*/
}

#map-canvas {
    height: 100%;
    margin: 0px;
    padding: 0px;
    /*border-radius: 19px;*/
    /*border: 3px solid black;*/
}

.form-control {
	margin-bottom: 0px !important;
}

.form-signin { 
	max-width: 330px;
	padding: 15px;
	margin: 0 auto;
}

#loginBtn {
	position: absolute;
	bottom: 70px;
	z-index: 999;
	left: 30px;
}

#quickSearch {
	position: absolute; 
    top: 8px; 
    left: 10%; z-index: 999;
    margin: 0 auto;
    text-align: center;
    width: 80%;
    border-radius: 15px;
}

.TopLeft, .TopRight, .BottomLeft, .BottomRight {
	position: absolute;
	z-index: 1000;
	background-image: url(../img/corners2.png);
	background-size: 38px;
	width: 20px;
	height: 20px;
}

.TopLeft {
	left: 0;
	top: 0;
}

.TopRight {
	right: 0;
	top: 0;
	background-position: top right;
}

.BottomLeft {
	left: 0;
	bottom: 0;
	background-position: bottom left;
}

.BottomRight {
	right: 0;
	bottom: 0;
	background-position: bottom right;
}

.optionsBtn {
	position: absolute;
	bottom: 20px;
	left: 10px;
	z-index: 999;
}

.reportBtn {
	position: absolute;
	bottom: 20px;
	right: 30px;
	z-index: 999;
}

.amb {
	top: 7px;
}

.fancyBtn {
	position: relative;
    color: rgba(255,255,255,1);
    text-decoration: none;
    background-color: rgba(219,87,5,1);
    font-family: 'Yanone Kaffeesatz';
    font-weight: 700;
    font-size: 2.3em;
    display: block;
    padding: 4px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    -webkit-box-shadow: 0px 9px 0px rgba(219,31,5,1), 0px 9px 25px rgba(0,0,0,.7);
    -moz-box-shadow: 0px 9px 0px rgba(219,31,5,1), 0px 9px 25px rgba(0,0,0,.7);
    box-shadow: 0px 9px 0px rgba(219,31,5,1), 0px 9px 25px rgba(0,0,0,.7);
    /*margin: 100px auto;*/
	/*width: 160px;*/
	width: 150%;
	text-align: center;
	
	-webkit-transition: all .1s ease;
	-moz-transition: all .1s ease;
	-ms-transition: all .1s ease;
	-o-transition: all .1s ease;
	transition: all .1s ease;
}

.fancyBtn:active, .fancyBtnDown {
	color: rgba(255,255,255,1) !important;
    -webkit-box-shadow: 0px 3px 0px rgba(219,31,5,1), 0px 3px 6px rgba(0,0,0,.9);
    -moz-box-shadow: 0px 3px 0px rgba(219,31,5,1), 0px 3px 6px rgba(0,0,0,.9);
    box-shadow: 0px 3px 0px rgba(219,31,5,1), 0px 3px 6px rgba(0,0,0,.9);
    position: relative;
    top: 6px;	
}

.fancyBtn:hover {
	color: rgba(255,255,255,1) !important;
}

.caretRight {
	position: absolute;
	right:12px;
	top: 15px;
}