html, body {
    height: 100%;
}

.fill {
    height: 100%;
}

#mapWrapper {
	position: relative;
    height: 100%;
    width:100%;
}

#map-canvas {
    height: 100%;
    margin: 0px;
    padding: 0px;
    border-radius: 10px;
    border: 12px solid black;
}

.form-control {
	margin-bottom: 0px !important;
}

.form-signin { 
	max-width: 330px;
	padding: 15px;
	margin: 0 auto;
}

#loginBtn {
	position: absolute;
	bottom: 70px;
	z-index: 999;
	left: 30px;
}