html, body {
    height: 100%;
    background-color: #111;
}

.fill {
    height: 100%;
    padding-right: 0px !important;
    padding-left: 0px !important;
}

#mapWrapper {
	position: relative;
    height: 100%;
    width:100%;
    overflow: hidden !important;
    border-radius: 19px !important;
    /*border: 2px solid gold;*/
}

#map-canvas {
    height: 100%;
    margin: 0px;
    padding: 0px;
    /*border-radius: 19px;*/
    /*border: 3px solid black;*/
}

.form-control {
	text-align: center;
	margin-bottom: 0px !important;
}

.form-signin { 
	max-width: 330px;
	padding: 15px;
	margin: 0 auto;
}

#loginBtn {
	position: absolute;
	bottom: 70px;
	z-index: 999;
	left: 30px;
}

#searchBar {
	position: absolute; 
    top: 8px; 
    left: 10%; 
    z-index: 999;
    margin: 0 auto;
    text-align: center;
    width: 80%;
    border-radius: 15px;
    min-height: 40px;
}

#quickSearch {
	position: absolute; 
    z-index: 999;
    text-align: center;
    border-radius: 15px;
}

#quickSearchBtn {
	position: absolute;
	right: 15px;
	z-index: 1000;
	top: 10px;
	cursor:pointer;
}

.settingsBtn .glyphicon {
	font-size: 1.3em;
	color: rgb(255, 132, 0);
	border: 1px solid rgb(185, 185, 185);
	border-radius: 6px;
	padding: 3px;
	/*box-shadow: 0px 0px 2px #747474;*/
	background-color: #FFF;
}

.TopLeft, .TopRight, .BottomLeft, .BottomRight {
	position: absolute;
	z-index: 1000;
	background-image: url(../img/corners2.png);
	background-size: 38px;
	width: 20px;
	height: 20px;
}

.TopLeft {
	left: 0;
	top: 0;
}

.TopRight {
	right: 0;
	top: 0;
	background-position: top right;
}

.BottomLeft {
	left: 0;
	bottom: 0;
	background-position: bottom left;
}

.BottomRight {
	right: 0;
	bottom: 0;
	background-position: bottom right;
}

.settingsBtn {
	position: absolute;
	top: 11px;
	right: 3px;
	z-index: 999;
}

.reportBtn {
	position: absolute;
	bottom: 20px;
	right: 27px;
	z-index: 999;
}

.randomEventBtn {
	position: absolute;
	bottom: 20px;
	left: 10px;
	z-index: 999;
}

.diceIcon {
	width: 38px;
	transform:rotate(0deg);
	-ms-transform:rotate(0deg); /* IE 9 */
	-webkit-transform:rotate(0deg); /* Opera, Chrome, and Safari */
}


.amb {
	top: 7px;
}

.fancyBtn {
	position: relative;
    color: rgba(255,255,255,1);
    text-decoration: none;
    background-color: rgba(219,87,5,1);
    font-family: 'Yanone Kaffeesatz';
    font-weight: 700;
    font-size: 2.3em;
    display: block;
    padding: 4px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    -webkit-box-shadow: 0px 9px 0px rgba(219,31,5,1), 0px 9px 25px rgba(0,0,0,.7);
    -moz-box-shadow: 0px 9px 0px rgba(219,31,5,1), 0px 9px 25px rgba(0,0,0,.7);
    box-shadow: 0px 9px 0px rgba(219,31,5,1), 0px 9px 25px rgba(0,0,0,.7);
    /*margin: 100px auto;*/
	/*width: 160px;*/
	width: 150%;
	text-align: center;
	
	-webkit-transition: all .1s ease;
	-moz-transition: all .1s ease;
	-ms-transition: all .1s ease;
	-o-transition: all .1s ease;
	transition: all .1s ease;
}

.fancyBtn:active, .fancyBtnDown {
	color: rgba(255,255,255,1) !important;
    -webkit-box-shadow: 0px 3px 0px rgba(219,31,5,1), 0px 3px 6px rgba(0,0,0,.9);
    -moz-box-shadow: 0px 3px 0px rgba(219,31,5,1), 0px 3px 6px rgba(0,0,0,.9);
    box-shadow: 0px 3px 0px rgba(219,31,5,1), 0px 3px 6px rgba(0,0,0,.9);
    position: relative;
    top: 6px;	
}

.fancyBtn:hover {
	color: rgba(255,255,255,1) !important;
}

.fancyBtn.dicePadding {
	padding: 3px 1px 4px 1px;
}

.caretRight {
	position: absolute;
	right:12px;
	top: 15px;
}

#captureImage .glyphicon:active .captureImgDown {
	color : #BEBCBC;
    transition: 0.3s; 
}

#eventModal {
	display: none;
	position: absolute;
    width: 99%;
	height: 99%;
	top: 0.5%;
	left: 0.5%;
	/*box-shadow: 0px 0px 75px #111;*/
    background-color: rgba(0,0,0,0.72);
    padding: 8px;
    z-index: 999999999;
    -webkit-border-radius: 18px; /* Saf3-4, iOS 1-3.2, Android <1.6 */
    -moz-border-radius: 18px; /* FF1-3.6 */
    border-radius: 18px; /* Opera 10.5, IE9, Saf5, Chrome, FF4, iOS 4, Android 2.1+ */
	
	-webkit-animation: animation 1s;
	-moz-animation: animation 1s;
	animation: animation 1s;
}

#eventModal-bg {
    background-color: #FBFBFB;
    width: 98%;
    height: 98%;
    margin-top: 8px;
    margin-left: auto;
    margin-right: auto;
    -webkit-border-radius: 7px; /* Saf3-4, iOS 1-3.2, Android <1.6 */
    -moz-border-radius: 7px; /* FF1-3.6 */
    border-radius: 7px; /* Opera 10.5, IE9, Saf5, Chrome, FF4, iOS 4, Android 2.1+ */
}

#eventModalLabelContainer {
	width: 100%;
    height: 14%;
    background-color: #FFFFFF;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#FFFFFF), to(#E9E9E9)); /* Saf4+, Chrome */
    background-image: -webkit-linear-gradient(top, #FFFFFF, #E9E9E9); /* Chrome 10+, Saf5.1+, iOS 5+ */
    background-image: -moz-linear-gradient(top, #FFFFFF, #E9E9E9); /* FF3.6 */
    background-image: -ms-linear-gradient(top, #FFFFFF, #E9E9E9); /* IE10 */
    background-image: -o-linear-gradient(top, #FFFFFF, #E9E9E9); /* Opera 11.10+ */
    background-image: linear-gradient(top, #FFFFFF, #E9E9E9);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#FFFFFF', EndColorStr='#E9E9E9'); /* IE6-IE9 */
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    border-bottom: 1px solid #FFFFFF;
    color: #434343;
    text-shadow: 1px 1px 1px #ffffff;
    filter: dropshadow(color=#ffffff, offx=1, offy=1);
}

#eventModalLabel {
    width: 95%;
    height: 100%;
    padding-top: 12px;
    text-overflow: ellipsis;
	overflow-y: hidden;
    vertical-align: middle;
	text-align: center;
	font-size: 1.5em;
    font-weight: bold;
    cursor: default;
}

#eventImg {
	height: 62%;
	width: 80%;
	margin-top: 60px;
	border-radius: 5px;
	box-shadow: 2px 2px 25px #444;
}

#eventModal .eventDetails {
	width: 76%;
	max-height: 16%;
	margin: 0 auto;
	margin-top: 16px;
	word-wrap: break-word;
	text-overflow: ellipsis;
}

#eventModal .eTimestamp {
	position: relative;
    font-size: 10px;
    bottom: -3px;
    background-color: #FBFBFB;
    border-radius: 20px;
    padding: 2px;
    width: 157px;
	margin: 0 auto;
	margin-top: -9px;
}

#eventModal .eTimestamp .removeEventBtn {
	font-size: 9px;
    border: 1px solid rgb(250, 174, 174);
    border-radius: 4px;
    box-shadow: 0px 0px 3px;
    padding-right: 2px;
    padding-left: 2px;
    cursor: pointer;
}

#eventModal .eTimestamp .glyphicon {
	color: red;
    margin-right: 2px;
}

@-webkit-keyframes animation {
	from {
		-webkit-transform: scale(0);
		opacity: 0;
	}
	to {
		-webkit-transform: scale(1);
		opacity: 1;
	}
}
@-moz-keyframes animation {
	from {
		-moz-transform: scale(0);
		opacity: 0;
	}
	to {
		-moz-transform: scale(1);
		opacity: 1;
	}
}
@keyframes animation {
	from {
		transform: scale(0);
		opacity: 0;
	}
	to {
		transform: scale(1);
		opacity: 1;
	}
}

#eventModalClose {
	cursor: pointer;
	position: absolute;
	top: 18px;
	right: 4%;
	font-size: 3em;
	box-shadow: 0px 2px 8px rgba(139, 205, 231, 0.5);
	background: rgba(139, 205, 231, 0.5);
	border-radius: 3px;
	height: 36px;
	width: 36px;
}

#eventModalClose .x {
	position: absolute;
	top: -16px;
	left: 8px;
}

#fourSquareBar {
	border-top: 1px solid rgb(69, 168, 247);
	border-bottom: 1px solid rgb(69, 168, 247);
	background-color: rgba(139, 205, 231, 0.5);
	position: absolute;
	text-align: center;
	vertical-align: middle;
	width: 100%;
	left: 0px;
	height: 40px;
	margin-top: -1px;
}

#fourSquareBar:before {
	right: -1px;
	top: 100%;
	border-width: 12px 12px 0 0;
	border-style: solid;
	border-color: rgba(139, 205, 231, 0.5) transparent transparent transparent;
}

#fourSquareBar:after {
	left: -1px;
	top: 100%;
	border-width: 6px 6px;
	border-style: solid;
	border-color: rgba(139, 205, 231, 0.5) rgba(139, 205, 231, 0.5) transparent transparent;
}

#fourSquareBar:before, #fourSquareBar:after {
	content: ' ';
	position: absolute;
	width: 0;
	height: 0;
}

.fsq-content {
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0px;
	top: 0px;
	padding-left: 12px;
	padding-right: 12px;
	text-align: center;
	overflow: hidden;
}

#wazeBtn {
	position: absolute;
	width: 130px;
	left: -46px;
	bottom: 1%;
	display: none;
	cursor: pointer;
}

#likeBtn {
	position: absolute;
	width: 130px;
	right: -52px;
	bottom: 1%;
	display: none;
	cursor: pointer;
}

#numOfLikes { 
	position: absolute;
	right: 10px;
	bottom: 27px;
	display: none;
	font-size: 10px;
	width: 17px;
	text-align: center;
	color: rgb(65, 100, 240);
}

#searchResultsContainer {
	width: 100%;
	background-color: rgba(255, 255, 255, 0.933333);
	border-radius: 13px;
	transition: 0.7s;
	-webkit-transition: 0.7s;
	display: block;
}

#eventsResults {
	display: none;
	position: relative;
	min-height: 40px;
    max-height: 362px; /* 7 results each 46px + 40px marginTop  */
	overflow: auto;
	border: 1px solid rgba(128, 128, 128, 0.219608);
	border-radius: 13px;
	transition: 0.7s;
	-webkit-transition: 0.7s;
}

.eventResRow { 
	height: 46px;
	width: 100%;
	font-size: 1.3em;
	line-height: 1.9em;
	cursor: pointer;
}

.eventResRow span {
	width: 86%;
	height: 46px;
	position: absolute;
	left: 0px;
	text-align: left;
	text-overflow: ellipsis; 
	white-space: nowrap;
	overflow: hidden;
}

.eventResRow span .glyphicon-chevron-right {
	margin-left: 10px;
	margin-right: 10px;
	color: rgb(21, 177, 238);
	font-size: 0.8em;
}

.eventResRowPin {
	height: 35px;
	width: 25px;
	right: 8px;
	position: absolute;
}

#hyperlapseModal {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	z-index: 99999999;
	display: none
}

.spinner {
	position: absolute;
	top: 45%;
	left: 45%;
	z-index: 9999999999;
	display: none
} 

#spinnerImage {
	width: 100px;
	height: 100px;
}

#searchByCatTooltip {
	display: none;
	width: 100%;
	height: 170px;
	background-color: white;
	margin-top: 45px;
	border-radius: 12px;
	box-shadow: 0px 0px 4px #7C7C7C;
}

#searchByCatTooltip .text {
	top: 16px;
    position: relative;
    color: #646464;
}

#searchByCatTooltip .categories {
	height: 98px;
	margin-top: 33px;
	overflow: auto;
	width: 80%;
	margin-left: 10%;
	box-shadow: 0px 0px 7px #757575, inset 0px 10px 20px -6px #111, inset 0 -8px 15px -6px #111;
	border-radius: 5px;
}

.categories .categoryRow {
	height: 32px;
}

#searchByCatTooltip .catGlass {
	border: 1px solid #CCC;
	pointer-events: none;
	width: 80%;
	height: 32px;
	position: absolute;
	left: 10%;
	top: 131px;
	box-shadow: 0px 2px 8px rgba(139, 205, 231, 0.5);
	background: rgba(139, 205, 231, 0.5);
}

.triangleTop {
	width: 0;
	height: 0;
	border-style: solid; 
    border-width: 0 10px 10px 10px; 
    border-color: transparent transparent #FFF transparent;
}

.searchByCatTriangle {
	top: 38px;
    left: 46%;
    position: absolute;
}

.categories::-webkit-scrollbar {
	display: none;
}

.filterPin {
	width: 18px;
	top: 5px;
	z-index: 1000;
	left: 9px;
	position: absolute;
}